---

---

<nav>
    <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/side">Side Projects</a></li>
        <li><a href="">Resume</a></li>
    </ul>
</nav>